<div class="row">
  <div class="col-md-12">
    <h1 class="text-center"> About content</h1>
    <p>
        Writers around the world publish millions of articles to the Internet every day. Does yours stand out? If you’re a content creator, making a few simple changes will help you become the kind of writer whose posts are readable, relatable, and shareable. Here are five things that will make you better at content writing and help your posts shine like a beacon in a sea of words.
    </p>
  </div>
  <div class="col-md-12">
    <router-outlet name="map"></router-outlet>
  </div>
  <div class="col-md-12">
    <router-outlet name="feed"></router-outlet>
  </div>
</div>