<div>child works!<br>
  <button (click)="passMsg()" >send data to parent component</button>
  <table class="table table-bordered">
    <tr class="dark">
      <th>Id</th>
      <th>Name</th>
      <th>City</th>
      <th>Salary</th>
      <th>DOB</th>
      <th>Age</th>
    </tr>
    <tr *ngFor = "let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name | uppercase}}</td>
      <td>{{user.city}}</td>
      <td>{{user.salary | currency}}</td>
      <td>{{user.dob | date}}</td>
      <td>{{user.dob | age}}</td>
    </tr>
  </table>
  <!-- {{users | json }} -->

</div>